.settings {
  position: absolute;
  bottom: 0;
}

.checkbox-select {
  position: relative;
}

.options {
  position: absolute;
  left: 0;
  max-height: 250px;
  overflow: auto;
  z-index: 500;
}

.option {
  background: white;
  cursor: pointer;
}

.option label {
  margin: 0;
  cursor: pointer;
}

.option:hover {
  background: #348ff1;
}

.option:hover label {
  color: white;
}

.drawer {
  width: 300px;
  right: -400px;
  top: 50%;

  transform: translate(0%, -50%);
}

.drawer-open {
  right: 0;
}

.close {
  top: 20px;
  position: absolute;
  right: 20px;
}
