button.tab-active {
    border-bottom: 2px solid green;
}

.search-clear {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    cursor: pointer;
}

.bizpopover {
    position: absolute;
    background-color: white;
    top: 40px;
    left: 20px;
    padding: 10px;
    border-radius: 3px;
    z-index: 1000;
}

.superscript {
    position: absolute;
    top: 0;
    right: 0;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #0092ee, 0 0 1px #0092ee, 0 0 1px #0092ee, 0 0 1px #0092ee, 0 0 1px #0092ee;
}

.store-card {
    padding: 10px;
    user-select: none;
}

.store-card:hover {
    background-color: #e2dcdc;
}

.store-card.selected {
    background-color: #172a32;
}

.info-card {
    background: #2b2b2b;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: -50px;
    border-radius: 50px;
}