<div *ngIf="hidecontent" class="hk-wrapper">

    <!-- Main Content -->
    <div class="hk-pg-wrapper hk-auth-wrapper">
        <header class="d-flex justify-content-end align-items-center">
            <div class="btn-group btn-group-sm">
                <a href="#" class="btn btn-outline-secondary">Help</a>
                <a href="#" class="btn btn-outline-secondary">About Us</a>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 pa-0">
                    <div class="auth-form-wrap pt-xl-0 pt-70">
                        <div class="auth-form w-xl-25 w-lg-30 w-sm-50 w-100">

                            <form>
                                <div
                                    class="d-62 bg-white rounded-circle mb-10 d-flex align-items-center justify-content-center mx-auto">
                                    <i class="zmdi zmdi-settings font-28"></i>
                                </div>
                                <h1 class="display-4 mb-10 text-center"> <span unselectable="on" class="no-select"
                                        (click)="unlockpagr('sorry')">Sorry</span>
                                    we <span unselectable="on" class="no-select" (click)="unlockpagr('are')">are</span>
                                    down for <span (click)="unlockpagr('maintenance')">maintenance</span></h1>
                                <p class="mb-30 text-center">We apologize for the inconvenience, we are doing our best
                                    to get things back in order for you. Please feel free to <a href="#"><u>contact
                                            us</u></a> for any queries.</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Content -->

</div>


<div *ngIf="!hidecontent" class="hk-pg-wrapper">
    <div *ngIf="mode == 'list'" class="col-xl-12">
        <div class="title">Web Orders</div>
        <section class="hk-sec-wrapper">
            <div class="row">
                <div class="col-3">
                    <input class="form-control" type="search" placeholder="Search..." aria-label="Search"
                        [(ngModel)]="searchText" (input)="filterOrders()" />
                </div>
                <div class="col" style="text-align: right;">
                    <button type="button" class="btn btn-link text-primary" (click)="getENQOrders()">
                        <strong style="color: coral;"><i class="fa fa-refresh" aria-hidden="true"></i>
                            &nbsp;sync</strong>
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn btn-success" (click)="mode = 'edit'"><i class="fa fa-plus"
                            aria-hidden="true"></i>&nbsp;&nbsp;New
                        Order</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="table-wrap mb-30">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col">
                                    <table class="table table-flush">
                                        <thead class="z-index-1"
                                            style="position: sticky; top: 0; background-color: #2b2b2b;">
                                            <tr>
                                                <th style="color: white;">
                                                    <strong>Invoice</strong>
                                                </th>
                                                <th style="color: white;">
                                                    <strong>Customer</strong>
                                                </th>
                                                <th style="color: white;">
                                                    <strong>Amount</strong>
                                                </th>
                                                <th style="color: white;">
                                                    <strong>Delivery Store</strong>
                                                </th>
                                                <th style="color: white;">
                                                    <strong>Ordered Date</strong>
                                                </th>
                                                <th style="color: white;">
                                                    <strong>Delivery Date</strong>
                                                </th>
                                                <th style="color: white;">
                                                    <strong>Status</strong>
                                                </th>
                                                <th style="color: white;">
                                                    <strong>Action</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let order of filteredOrders.length ? filteredOrders : orders">
                                                <td>
                                                    <button class=" btn btn-link"
                                                        (click)="GetWOOrdDeails(order.OdrsId)">#{{order.InvoiceNo}}</button>
                                                    <br>
                                                    <span class="px-15">{{order.location}}</span>
                                                </td>
                                                <td>
                                                    <i class="fa fa-user" aria-hidden="true"
                                                        style="color: rgb(134, 134, 207);"></i>&nbsp;&nbsp;{{order?.CusName
                                                    || '-'}} <br>
                                                    <i class="fa fa-phone" aria-hidden="true"
                                                        style="color: rgb(21, 158, 21);"></i>&nbsp;&nbsp;{{order?.CusPhone
                                                    || '-'}}
                                                </td>
                                                <td>
                                                    {{order.PaidAmount}}/{{order.BillAmount}}
                                                </td>
                                                <td>
                                                    {{order.delStore}}
                                                </td>
                                                <td>
                                                    <span class="text-muted">
                                                        <i class="icon-clock font-13"></i> {{order.OrderedDateTime |
                                                        date: "MMM
                                                        d, y, h:mm a"}}</span>
                                                </td>
                                                <td>
                                                    <span class="text-muted">
                                                        <i class="icon-clock font-13"></i> {{order.DeliveryDateTime |
                                                        date: "MMM
                                                        d, y, h:mm a"}}</span>
                                                </td>
                                                <td *ngIf="order.OrderStatusId == 0"><span
                                                        class="badge badge-dark">Pending</span></td>
                                                <td *ngIf="order.OrderStatusId == 1"><span
                                                        class="badge badge-warning">Accepted</span></td>
                                                <td *ngIf="order.OrderStatusId == 4"><span class="badge badge-info">Out
                                                        of Delivery</span></td>
                                                <td *ngIf="order.OrderStatusId == 5"><span
                                                        class="badge badge-success">Delivered</span></td>
                                                <td>
                                                    <button type="button" class="btn btn-light"
                                                        (click)="GetReceipt_WO(order)">
                                                        <i class="fa fa-print" aria-hidden="true"></i>
                                                    </button>
                                                    &nbsp;&nbsp;
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="openCancelmodal(order.OdrsId)">
                                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                                    </button>
                                                    &nbsp;&nbsp;
                                                    <button type="button" class="btn btn-info"
                                                        (click)="GetOrderUpdateDetails(order.OdrsId)">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div *ngIf="mode == 'edit'" class="col-xl-12">
        <div class="title" *ngIf="UpScreen == false">Add New Order</div>
        <div class="title" *ngIf="UpScreen == true">EDIT Order</div>
        <section class="hk-sec-wrapper">
            <div *ngIf=" !sections.customer.collapse" class="col-xl-12 row" style="position: relative;">
                <div class="form-group col-xl-3" *ngIf="UpScreen == false">
                    <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.Name" [term]="t"></ngb-highlight>
                    </ng-template>
                    <input id="typeahead-template" type="text" class="form-control col" [(ngModel)]="searchTerm"
                        [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
                        (selectItem)="selected($event.item)" placeholder="Search Stores..." />
                </div>
                <div class="form-group col-xl-3" *ngIf="UpScreen == true">
                    <input type="text" class="form-control col" [(ngModel)]="savedupstore[0].Name" disabled />
                </div>
                <div class="col-xl-3" style="position: relative;" *ngIf="UpScreen == false">
                    <input type="text" class="form-control" (keyup.enter)="getcustomer(customer.PhoneNo);openDrawer()"
                        [class.is-invalid]="form_validation.phoneno" [(ngModel)]="customer.PhoneNo"
                        (input)="validation()" placeholder="Customer Mobile" />
                    <span *ngIf="form_validation.phoneno" class="text-danger font-11">Phone Num. is Mandatory</span>
                </div>
                <div class="col" *ngIf="UpScreen == false">
                    <button type="button" class="btn btn-secondary btn-sm" style="border-radius: 500px;"
                        (click)="openDrawer()">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col" style="text-align: right;">

                    <button class="btn btn-danger" (click)="clearOrder()"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i>&nbsp;&nbsp;Back</button>
                </div>
            </div>
        </section>
        <section style="position: relative;">
            <div *ngIf="loading"
                style="position: absolute;background: rgb(255 255 255 / 39%);height: 100%;width: 100%;top: 0;z-index: 100000;">
            </div>
            <div class="row">
                <div class="col">
                    <section class="hk-sec-wrapper">
                        <div class="row">
                            <div class="col">
                                <strong>Order Type</strong><br>
                                <select class="form-control custom-select" [(ngModel)]="order.OrderTypeId"
                                    (change)="onOrderTypeChange()">
                                    <option value="2">TakeAway</option>
                                    <option value="3" selected>Delivery</option>
                                    <option value="4">PickUp</option>
                                </select>
                            </div>
                            <div class="col">
                                <strong>Delivery Date</strong><br>
                                <form class="row row-cols-sm-auto">
                                    <div class="col">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                                [(ngModel)]="selectedDate" ngbDatepicker #d="ngbDatepicker"
                                                [class.is-invalid]="form_validation.deliverydate" (input)="validation()"
                                                (ngModelChange)="ChangeDate()" (click)="d.toggle()" />
                                            <button class="btn btn-dark" (click)="d.toggle()" type="button"><i
                                                    class="fa fa-calendar" aria-hidden="true"></i></button>
                                            <span *ngIf="form_validation.deliverydate"
                                                class="text-danger font-11">Select a
                                                Date</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col">
                                <strong>Delivery Time</strong><br>
                                <form class="row row-cols-sm-auto">
                                    <div class="col">
                                        <div class="time-picker">
                                            <input type="time" id="appt" name="appt" (input)="ChangeTime()"
                                                [(ngModel)]="selectedTime"
                                                [class.is-invalid]="form_validation.deliverytime"
                                                (input)="validation()">
                                            <span *ngIf="form_validation.deliverytime"
                                                class="text-danger font-11">Select a
                                                Time</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="table-container" style="height: 47.5vh; overflow-y: auto;">
                            <div class="row">
                                <div class="col-xl-9">
                                    <ng-template #pd let-r="result" let-t="term">
                                        <ngb-highlight [result]="r.Name" [term]="t"></ngb-highlight>
                                    </ng-template>
                                    <input #autocompleteel id="autocompleteel" type="text" class="form-control col"
                                        [(ngModel)]="pdsearchTerm" [ngbTypeahead]="prodsearch" [resultTemplate]="pd"
                                        [inputFormatter]="pformatter" (selectItem)="selectItem($event.item, quantityel)"
                                        onfocus="this.select()" placeholder="Type ProductName" />
                                </div>
                                <div class="col-xl-3">
                                    <input #quantityel type="number" class="form-control" [(ngModel)]="quantity"
                                        (keyup.enter)="quantity && quantity>0 && addItem()" placeholder="Qty">
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-6">
                                    <!-- <NOTE> -->
                                    <label *ngIf="cart_settings.message_or_note == 'NOTE'" for="note">Booking
                                        Note</label>
                                    <button *ngIf="cart_settings.message_or_note == 'NOTE'" class="btn btn-link btn-sm"
                                        (click)="cart_settings.message_or_note = 'MESSAGE'">Message for Store
                                        >></button>
                                    <textarea *ngIf="cart_settings.message_or_note == 'NOTE'" name="note"
                                        [(ngModel)]="order.Note" class="form-control" cols="30" rows="3"></textarea>
                                    <!-- </NOTE> -->

                                    <!-- <MESSAGE> -->
                                    <label *ngIf="cart_settings.message_or_note == 'MESSAGE'" for="message">Message for
                                        Store</label>
                                    <button *ngIf="cart_settings.message_or_note == 'MESSAGE'"
                                        class="btn btn-link btn-sm"
                                        (click)="cart_settings.message_or_note = 'NOTE'">Order Message
                                        >></button>
                                    <textarea *ngIf="cart_settings.message_or_note == 'MESSAGE'" name="message"
                                        [(ngModel)]="order.Message" class="form-control" cols="30" rows="3"></textarea>
                                    <!-- </MESSAGE> -->
                                </div>
                                <div class="col-6">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Discount</th>
                                                <td class="text-right">-₹&nbsp;{{order.OrderTotDisc +
                                                    order.AllItemTotalDisc
                                                    | number:
                                                    "0.2"}}</td>
                                            </tr>
                                            <tr>
                                                <th>Tax</th>
                                                <td class="text-right">₹&nbsp;{{order.Tax1 + order.Tax2 + order.Tax3 |
                                                    number: "0.2"}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Subtotal</th>
                                                <td class="text-right">₹&nbsp;{{order.subtotal | number: "0.2"}}</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <strong>Total</strong>
                                                </th>
                                                <td class="text-right"><strong>₹&nbsp;{{order.BillAmount | number:
                                                        '.2'}}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col">
                    <section class="hk-sec-wrapper">
                        <div class="row">
                            <div class="col-4">
                                <!-- <input class="form-control" type="search" placeholder="Customer Mobile"
                                aria-label="Search" /> -->
                            </div>
                            <div class="col-1">
                                <!-- <button type="button" class="btn btn-secondary btn-sm" style="border-radius: 500px;"
                                (click)="openDrawer()">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </button> -->
                            </div>
                            <div class="col" style="text-align: right;">
                                <button type="button" class="btn btn-link text-primary" (click)="openModal()">
                                    Bulk Discount
                                </button>
                                <button type="button" class="btn btn-link text-danger" (click)="toggleOrderStatus()"
                                    *ngIf="UpScreen == false">
                                    {{ orderButtonText }}
                                </button>

                                <i class="fa fa-check-circle" (click)="ClearOrder()" *ngIf="ShowCoics == true"
                                    style="cursor: pointer; color: green;"></i>
                                &nbsp;&nbsp;
                                <i class="fa fa-times-circle" (click)="CancelClearOrder()" *ngIf="ShowCoics == true"
                                    style="cursor: pointer; color: red;"></i>
                            </div>
                        </div>
                        <br>
                        <div class="table-container" style="height: 38.5vh; overflow-y: auto;">
                            <table class="table table-flush">
                                <thead class="z-index-1" style="position: sticky; top: 0; background-color: #2b2b2b;">
                                    <tr>
                                        <th style="color: white; width: 40%;">
                                            <strong>Product</strong>
                                        </th>
                                        <th style="color: white; width: 20%;">
                                            <strong>Quantity</strong>
                                        </th>
                                        <th style="color: white; width: 20%;">
                                            <strong>Amount</strong>
                                        </th>
                                        <th style="color: white; width: 20%;">
                                            <strong>Actions</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of order.Items; let i = index;"
                                        [hidden]="(item.Quantity + item.ComplementryQty) == 0">
                                        <td style="width: 40%;"><strong
                                                (click)="editItem(item)"><u>{{item.showname}}</u></strong></td>
                                        <td style="width: 20%;">
                                            {{item.Quantity}}
                                        </td>
                                        <td style="width: 20%;">₹&nbsp;{{item.TotalAmount | number: '.2'}}</td>
                                        <td style="width: 20%;">
                                            <button type="button" class="btn btn-danger btn-sm"
                                                (click)="item.Quantity = 0; item.ComplementryQty = 0; order.setbillamount()"
                                                (click)="updatedelete(item)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section class="hk-sec-wrapper" style="padding: 18px;">
                        <div class="row">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <ng-container *ngFor="let paymentType of PaymentTypesValues">
                                    <label class="btn btn-outline-primary" [ngClass]="{'active': paymentType.selected}"
                                        (click)="toggleButton(paymentType)" style="margin: 10px;">
                                        <input type="radio" [id]="'btn' + paymentType.Id" autocomplete="off">
                                        {{ paymentType.Name }}
                                    </label>
                                </ng-container>
                                <button type="button" class="btn btn-warning" *ngIf="PaymentTypesValues.length > 0"
                                    style="margin: 10px;" data-toggle="modal" data-target="#splitModal"><i
                                        class="fa fa-columns" aria-hidden="true"></i>&nbsp;
                                    Split</button>
                                <button type="button" class="btn"
                                    [ngClass]="{'btn-danger': nopaisSelected, 'btn-outline-danger': !nopaisSelected}"
                                    (click)="toggleSelection()" style="margin: 10px;"
                                    *ngIf="PaymentTypesValues.length > 0">
                                    <i class="fa fa-hand-paper-o" aria-hidden="true"></i>&nbsp;
                                    {{ nopaisSelected ? 'Not Paid' : 'Not Paid'}}
                                </button>
                            </div>

                            <div class="col" style="text-align: right;">
                                <button class="btn btn-success" (click)="saveOrder()" *ngIf="UpScreen == false"><i
                                        class="fa fa-inr" aria-hidden="true" style="margin: 10px;"></i>&nbsp;Place
                                    Order</button>
                                <button class="btn btn-info" *ngIf="UpScreen == true" (click)="UpdateOrderValue()"><i
                                        class="fa fa-inr" aria-hidden="true" style="margin: 10px;"></i>&nbsp;Update
                                    Order</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Modal Option Group -->
<ng-template #options_details let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{selected_product?.Product}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height: 70vh ; overflow: auto; ">
        <!-- {{selected_product?.OptionGroup | json}} -->
        <div class="col-xl-12 row">
            <div class="col-xl-6">
                <div *ngFor="let vg of selected_product?.OptionGroup">
                    <div *ngIf="vg.OptionGroupType == 1">
                        <button *ngIf="vg.collapsed" class="btn btn-sm pl-0" (click)="vg.collapsed = !vg.collapsed"
                            [innerHTML]="plusIcon"></button>
                        <button *ngIf="!vg.collapsed" class="btn btn-sm pl-0" (click)="vg.collapsed = !vg.collapsed"
                            [innerHTML]="minusIcon"></button>
                        <strong>{{vg.Name}}</strong>
                        <div *ngIf="!vg.collapsed">
                            <div *ngFor="let variant of vg.Option">
                                <input name="{{vg.Name}}" [(ngModel)]="vg.selected" [value]="variant.Id"
                                    (change)="variantAl(vg.Id, variant.Id)" type="radio">&nbsp;
                                <button class="btn btn-sm"
                                    (click)="vg.selected = variant.Id; variantAl(vg.Id, variant.Id);">
                                    {{variant.Name}}
                                    <br><span class="float-left font-11" style="font-style: italic;">₹
                                        {{variant.Price}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div *ngFor="let ag of selected_product?.OptionGroup">
                    <div *ngIf="ag.OptionGroupType == 2">
                        <button *ngIf="ag.collapsed" class="btn btn-sm pl-0" (click)="ag.collapsed = !ag.collapsed"
                            [innerHTML]="plusIcon"></button>
                        <button *ngIf="!ag.collapsed" class="btn btn-sm pl-0" (click)="ag.collapsed = !ag.collapsed"
                            [innerHTML]="minusIcon"></button>
                        <strong>{{ag.Name}}</strong>
                        <div *ngIf="!ag.collapsed">
                            <div *ngFor="let addon of ag.Option">
                                <input name="{{addon.Name}}" [(ngModel)]="addon.selected" [checked]="addon.selected"
                                    (change)="addonAl()" type="checkbox">&nbsp;
                                <button class="btn btn-sm" (click)="addon.selected = !addon.selected; addonAl();">
                                    {{addon.Name}}
                                    <br><span class="float-left font-11" style="font-style: italic;">₹
                                        {{addon.Price}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 row">
            <div class="col-xl-6 form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" (input)="setcurrentitemprice()"
                    [(ngModel)]="selected_product!.Quantity">
            </div>
            <div class="col-xl-6">
                <label for="quantity">Free Quantity</label>
                <input type="number" class="form-control" [(ngModel)]="selected_product!.ComplementryQty">
            </div>
            <!-- DiscPercent -->
            <div class="col-xl-12 form-group">
                <label for="Discount">
                    {{selected_product!.DiscType == 1 ? 'Cash' : 'Percentage'}} Discount
                </label>
                <button *ngIf="selected_product!.DiscType == 1" class="btn btn-link"
                    (click)="selected_product!.DiscType = 2;selected_product!.DiscAmount=0">Percentage</button>
                <button *ngIf="selected_product!.DiscType == 2" class="btn btn-link"
                    (click)="selected_product!.DiscType = 1;selected_product!.DiscPercent=0">Cash</button>
                <input *ngIf="selected_product!.DiscType == 1" type="number" class="form-control" name="Discount"
                    [(ngModel)]="selected_product!.DiscAmount">
                <input *ngIf="selected_product!.DiscType == 2" type="number" class="form-control" name="Discount"
                    [(ngModel)]="selected_product!.DiscPercent">
            </div>
            <div class="col-xl-6">
                <label for="extra">Extra</label>
                <input type="number" onfocus="this.select()" class="form-control" [(ngModel)]="selected_product!.Extra">
            </div>
            <div class="col-xl-6">
                <button *ngIf="selected_product!.Note == null" class="btn btn-link"
                    (click)="selected_product!.Note = ''">+ Notes</button>
                <label *ngIf="selected_product!.Note != null" for="extra">Extra</label>
                <textarea *ngIf="selected_product!.Note != null" name="Note" class="form-control"
                    [(ngModel)]="selected_product!.Note" cols="30" rows="5"></textarea>
                <!-- <input type="number" onfocus="this.select()" class="form-control" [(ngModel)]="selected_product!.Extra"> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-light" (click)="modal.close('Save click')">Cancel</button> -->
        <div class="mr-auto">
            <h5 class="float-left"> Price : </h5>
            <h5 class="float-right ml-1"><b> {{selected_product?.TotalAmount}} </b></h5>
        </div>
        <button type="button" class="btn btn-primary" (click)="addItem()">Save Changes</button>
    </div>
</ng-template>

<ng-template #bulk_discount let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Bulk Discount</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="Discount">
                {{order!.DiscType == 1 ? 'Cash' : 'Percentage'}} Discount
            </label>
            <button *ngIf="order!.DiscType == 1" class="btn btn-link"
                (click)="order!.DiscType = 2; order!.DiscAmount = 0;">Percentage</button>
            <button *ngIf="order!.DiscType == 2" class="btn btn-link"
                (click)="order!.DiscType = 1; order!.DiscPercent = 0">Cash</button>
            <input *ngIf="order!.DiscType == 1" type="number" class="form-control" name="Discount"
                [(ngModel)]="order!.DiscAmount">
            <input *ngIf="order!.DiscType == 2" type="number" class="form-control" name="Discount"
                [(ngModel)]="order!.DiscPercent">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="order.setbillamount();modal.close('Save click')">Save
            Changes</button>
    </div>
</ng-template>

<ng-template #order_details let-modal>
    <div class="modal-header" *ngIf="temp_order">
        <h5 class="modal-title">{{temp_order.InvoiceNo}}</h5>
        &nbsp;&nbsp;<button type="button" class="btn btn-dark btn-sm"
            (click)="getcustomer(GetCusDetailsValues?.PhoneNo);openDrawer()">Edit Customer</button>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-xl-12 row">
            <div class="col-xl-6">
                <p><i class="fa fa-user" aria-hidden="true"></i>&nbsp; {{GetCusDetailsValues?.Name}}</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{GetCusDetailsValues?.Address}}</p>
                <p><i class="fa fa-building" aria-hidden="true"></i>&nbsp; {{GetCusDetailsValues?.City}}</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; {{GetCusDetailsValues?.PhoneNo}}</p>
            </div>
            <div class="col-xl-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Qty</th>
                            <th>Amt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of itemsnew">
                            <td>{{item.showname}}</td>
                            <td>{{item.Quantity}} <span
                                    *ngIf="item.ComplementryQty > 0">({{item.ComplementryQty}})</span></td>
                            <td>{{item.TotalAmount}}</td>
                        </tr>
                        <tr *ngIf="(temp_order.Tax1 + temp_order.Tax2 + temp_order.Tax3) > 0">
                            <td></td>
                            <td><strong>Taxes</strong></td>
                            <td>{{temp_order.Tax1 + temp_order.Tax2 + temp_order.Tax3 | number : ".2"}}</td>
                        </tr>
                        <tr *ngIf="(temp_order.AllItemDisc + temp_order.OrderTotDisc) > 0">
                            <td></td>
                            <td><strong>Disc</strong></td>
                            <td>{{temp_order.AllItemDisc + temp_order.OrderTotDisc | number : ".2"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td>{{temp_order.BillAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="order.setbillamount();modal.close('Save click')">Save
            Changes</button>
    </div> -->
</ng-template>


<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="card" style="width: 40%;">
            <div class="card-header" style="border-bottom: 1px solid #aaa; font-weight:bolder">
                <strong>
                    Bulk Discount
                </strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="Discount">
                        {{order!.DiscType == 1 ? 'Cash' : 'Percentage'}} Discount
                    </label>
                    <button *ngIf="order!.DiscType == 1" class="btn btn-link"
                        (click)="order!.DiscType = 2; order!.DiscAmount = 0;">Percentage</button>
                    <button *ngIf="order!.DiscType == 2" class="btn btn-link"
                        (click)="order!.DiscType = 1; order!.DiscPercent = 0">Cash</button>
                    <input *ngIf="order!.DiscType == 1" type="number" class="form-control" name="Discount"
                        [(ngModel)]="order!.DiscAmount">
                    <input *ngIf="order!.DiscType == 2" type="number" class="form-control" name="Discount"
                        [(ngModel)]="order!.DiscPercent">
                </div>
                <br><br>
                <div class="row">
                    <div class="col" style="text-align: right;">
                        <button type="button" class="btn btn-primary" (click)="order.setbillamount();closeModal()">Save
                            Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hk-settings-panel">
    <div class="nicescroll-bar position-relative">
        <div class="settings-panel-wrap">
            <div class="settings-panel-head">
                <h4>Add Customer</h4>
                <a href="javascript:void(0);" id="settings_panel_close" class="settings-panel-close"><span
                        class="feather-icon"><i data-feather="x"></i></span></a>
            </div>
            <hr />
            <div>
                <label for="cars" style="font-weight: bolder;">Customer Name <span style="color: red;">*</span>
                </label>
                <input class="form-control" type="search" aria-label="Search" [(ngModel)]="customer.Name" />
                <br>
                <label for="cars" style="font-weight: bolder;">Customer Mobile No <span style="color: red;">*</span>
                </label>
                <input class="form-control" type="search" aria-label="Search" [(ngModel)]="customer.PhoneNo" />
                <br>
                <label for="cars" style="font-weight: bolder;">Address <span style="color: red;">*</span>
                </label>
                <textarea class="form-control" rows="3" [(ngModel)]="customer.Address"></textarea>
                <br>
                <label for="cars" style="font-weight: bolder;">City
                </label>
                <input class="form-control" type="search" aria-label="Search" [(ngModel)]="customer.City" />
                <br>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-danger" (click)="openDrawer()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="splitModal" tabindex="-1" role="dialog" aria-labelledby="splitModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="splitModalLabel">Split Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="text-align: right;">
                    <strong>Bill Amount :</strong> ₹&nbsp;{{order.BillAmount | number: '.2'}}
                    <br>
                    <strong>Paid Amount :</strong> ₹&nbsp;{{ totalAmount | number: '.2' }}
                </div>

                <hr>
                <table style="width: 100%;">
                    <tr *ngFor="let paymentType of PaymentTypesValues; let i = index;" style="width: 100%;">
                        <td style="width: 50%;"><strong>{{ paymentType.Name }}</strong></td>
                        <td style="width: 50%;">
                            <input type="number" class="form-control" placeholder="Enter Amt" style="margin: 10px;"
                                [(ngModel)]="paymentType.saveamounts" (input)="calculateTotal()">
                        </td>
                    </tr>
                </table>
                <span class="text-danger" *ngIf="order.BillAmount < totalAmount"
                    style="font-size: 10px; position: absolute;">* Paid Amount EXCEEDING the Bill Amount</span>
                <hr>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                            (click)="CancelSplit()">Reset</button>
                    </div>

                    <div class="col" style="text-align: right;">
                        <button class="btn btn-success" (click)="saveData()" data-dismiss="modal" aria-label="Close"
                            [disabled]="order.BillAmount < totalAmount">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #CancelModel let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Cancel Reason ?</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea [(ngModel)]="cancelreason" rows="3" style="width: 100%;"
            placeholder="Enter a Cancel Reason..."></textarea><br>
        <button type="button" class="btn btn-danger" (click)="cancelorder();modal.close('Save click')"
            style="width: 100%;">Cancel
            Order</button>
    </div>
</ng-template>