.sticky {
  position: sticky;
  top: 70px;
  z-index: 999;
}

.pointer {
  cursor: pointer !important;
}

.unselectable {
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
