<div class="hk-pg-wrapper">
    <!-- <div class="hk-pg-header">
        <h4 class="hk-pg-title">&nbsp; Transactions</h4>
    </div> -->
    <div class="title">
        Transaxn Verify
    </div>
    <div class="container">
        <section class="hk-sec-wrapper">
            <div class="d-flex">
                <bz-tab-header class="col-xl" [tablist]="tablist" (onChange)="tabid = $event[0]"></bz-tab-header>
                <div id="myrangepicker" class="col-xl form-control text-truncate">
                    <i class="fa fa-calendar text-light-40"></i>&nbsp; <span></span>
                    <i class="fa fa-caret-down text-light-40 font-12 ml-10"></i>
                </div>
                <div class="col-xl">
                    <button class="btn btn-success" (click)="getTransactionList()">Fetch</button>
                </div>
            </div>
        </section>
        <section class="hk-sec-wrapper">
            <div *ngIf="tabid == 0 && phonepe.data.length == 0" class="fileDrop d-flex mb-20" (drop)="drop($event)"
                (dragover)="allowDrop($event)" (click)="upload_file.click()">
                <input hidden #upload_file id="upload_file" type="file" name="" (input)="selectfile(upload_file.files)">
                <span class="font-50 p-5 m-auto">drop [phonepe] sheet here</span>
            </div>
            <div *ngIf="tabid == 1" class="fileDrop d-flex" (drop)="drop($event)" (dragover)="allowDrop($event)"
                (click)="upload_file.click()">
                <input hidden #upload_file id="upload_file" type="file" name="" (input)="selectfile(upload_file.files)">
                <span class="font-50 p-5 m-auto">drop [card] sheet here</span>
            </div>
            <div *ngIf="tabid == 0 && phonepe.data.length > 0">
                <!-- <bz-tab-header class="col-xl" [tablist]="rTabs" (onChange)="rTabId = $event[0]"></bz-tab-header> -->
                <div class="d-flex flex-row-reverse mb-2 px-3">
                    <button class="btn btn-secondary" [disabled]="i == rTabId" *ngFor="let tab of rTabs; let i = index;"
                        (click)="rTabId = i">{{tab}}</button>
                </div>
                <div *ngIf="rTabId == 0" class="d-flex">
                    <div class="col-xl-6">
                        <select class="form-control mb-2" [(ngModel)]="phonepestores.selected"
                            (change)="phonepe.filter('Store',phonepestores.selected)">
                            <option *ngFor="let store of phonepestores" [value]="store">{{store}}</option>
                        </select>
                        <input type="text" [(ngModel)]="portalTerm" class="form-control mb-2">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>TransaxnId</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaxn of phonepe.filtered | filter: portalTerm">
                                    <td>{{transaxn.TransactionId}}</td>
                                    <td>{{transaxn.Amount}}</td>
                                    <td>{{transaxn.TransactionStamp | date: 'EEE,dd-MMM-y, hh:mm a'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xl-1">
                        <button class="btn btn-success" (click)="scan()">Scan</button>
                    </div>
                    <div class="col-xl-5">
                        <select class="form-control mb-2" [(ngModel)]="posphonepestores.selected"
                            (change)="posphonepe.filter('StoreId',posphonepestores.selected)">
                            <option *ngFor="let store of posphonepestores" [value]="store.StoreId">{{store.Store}}
                            </option>
                        </select>
                        <input type="text" [(ngModel)]="dbTerm" class="form-control mb-2">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>TransaxnId</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaxn of posphonepe.filtered | filter: dbTerm">
                                    <td>{{transaxn.ino}}</td>
                                    <td>{{transaxn.Amount}}</td>
                                    <td>{{transaxn.TransDateTime | date: 'EEE,dd-MMM-y, hh:mm a'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="rTabId == 1" class="row mx-0">
                    <div class="col-xl-12">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>TransaxnId</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>TransaxnId</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaxn of mapped">
                                    <td>{{transaxn[0].TransactionId}}</td>
                                    <td>{{transaxn[0].Amount}}</td>
                                    <td>{{transaxn[0].TransactionStamp | date: 'EEE,dd-MMM-y, hh:mm a'}}</td>
                                    <td>{{transaxn[1].TransDateTime | date: 'EEE,dd-MMM-y, hh:mm a'}}</td>
                                    <td>{{transaxn[1].Amount}}</td>
                                    <td>{{transaxn[1].ino}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xl-6">
                        <h6>Portal</h6>
                        <input type="text" [(ngModel)]="portalTerm" class="form-control mb-2">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>TransaxnId</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaxn of unmapped.portal | filter: portalTerm">
                                    <td>{{transaxn.TransactionId}}</td>
                                    <td>{{transaxn.Amount}}</td>
                                    <td>{{transaxn.TransactionStamp | date: 'EEE,dd-MMM-y, hh:mm a'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xl-6">
                        <h6>DB</h6>
                        <input type="text" [(ngModel)]="dbTerm" class="form-control mb-2">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>TransaxnId</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaxn of unmapped.db | filter: dbTerm">
                                    <td>{{transaxn.ino}}</td>
                                    <td>{{transaxn.Amount}}</td>
                                    <td>{{transaxn.TransDateTime | date: 'EEE,dd-MMM-y, hh:mm a'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>