.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 30px;
    font-size: xx-large;
}

.container {
    max-width: 90vw !important;
}

.fileDrop {
    border: grey dashed 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.info-card {
    background: #2b2b2b;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
}

.info-badge {
    background: #72a62d;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 50px;
    color: white;
}

.pointer {
    cursor: pointer;
}

.selection {
    position: absolute;
    background: white;
    width: 100%;
    height: 48px;
    border-radius: 50px;
    transition: all 0.2s ease 0s;
}

.sptitle {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;
    border-radius: 0;
}

.biza {
    color: #707070;
    font-weight: bolder;
    display: block;
    width: fit-content;
    margin: auto;
}

.biza:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: #707070;
}

#ptype-pop {
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2b2b2b;
    min-width: 10vw;
    white-space: nowrap;
}