.tab-header {
    position: relative;
    border: none;
    background: inherit;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 100;
}

.tab-header.selected {
    color: white;
}

.bz-selector {
    position: absolute;
    background: #2b2b2b;
    border-radius: 50px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}