.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 30px;
    font-size: xx-large;
}

 /* CheckBox */
 input.largerCheckbox {
    width: 20px;
    height: 20px;
}

/* Error style */
.error-input {
    border-color: red;
}


input[type=file]::file-selector-button {
    margin-right: 10px;
    border: none;
    background: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }
  
  .container {
    max-width: 90vw !important;
}


/* Notification */

.alert1 {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.alert1 {
  position: fixed;
  top: 70px;
  right: 5px;
  padding: 5px;
}

.alert2 {
  position: fixed;
  top: 70px;
  right: 5px;
  padding: 5px;
}

.alert2 {
  padding: 20px;
  background-color: green;
  color: white;
}