<!-- Preloader -->
<div *ngIf="isLoading$ | async" class="preloader-it">
    <div class="loader">
        <div class="duo duo1">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
        </div>
        <div class="duo duo2">
            <div class="dot dot-a"></div>
            <div class="dot dot-b"></div>
        </div>
    </div>
</div>
<!-- /Preloader -->
<!-- <app-layout></app-layout> -->
<app-header *ngIf="router.url != '/lock' && router.url != '/'"></app-header>
<router-outlet></router-outlet>