.checkbox-select {
    position: relative;
}

.options {
    position: absolute;
    left: 0;
    max-height: 250px;
    overflow: auto;
}

.option {
    background: white;
    cursor: pointer;
}

.option label {
    margin: 0;
    cursor: pointer;
}

.option:hover {
    background: #348ff1;
}

.option:hover label {
    color: white;
}

.slider {
    position: relative;
    width: 50vw;
    height: 10px;
    background: #f4f6f7;
}

.thumb {
    position: absolute;
    background: #233c46;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    top: -5px;
    left: 0;
    cursor: pointer;
}