.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 30px;
    font-size: xx-large;
}

.container {
    max-width: 90vw !important;
}

.tooltip {
    position: absolute;
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }

  
 /* CheckBox */
 input.largerCheckbox {
    width: 20px;
    height: 20px;
}
 

.table-container {
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .table-container thead th { 
    position: sticky; 
    top: 0; 
  } 

  input.smallerCheckbox{
    width: 15px;
    height: 15px;
  }
  

   
   
   
   
   /* Notification */

.alert1 {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.alert1 {
  position: fixed;
  top: 70px;
  right: 5px;
  padding: 5px;
}

.alert2 {
  position: fixed;
  top: 70px;
  right: 5px;
  padding: 5px;
}

.alert2 {
  padding: 20px;
  background-color: green;
  color: white;
}