.search-clear {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: x-large;
}

.container {
    max-width: 80vw !important;
}

.biza {
    color: #707070;
    font-weight: bolder;
    display: block;
    width: fit-content;
}

.biza:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: #707070;
}

.bz-fab {
    all: unset;
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    bottom: 30px;
    right: 30px;
    display: flex;
    /* border: 1px solid black; */
}

.bz-fab:active {
    box-shadow: none;
}

.bz-menu {
    position: fixed;
    bottom: 90px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    height: fit-content;
    max-height: 70vh;
    background: white;
    right: 30px;
    overflow: auto;
    padding: 10px;
    /* transition: all 0.5s ease-in-out; */
}

.spinner-border {
    margin: auto;
}

/* .bz-menu.show-menu {
    opacity: 1;
    display: block;
} */

td,
th {
    padding: 10px !important;
}


.hk-sec-wrapper:hover .bz-menu {
    opacity: 0.3 !important;
}